html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font: 13px/20px arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #fff;
}

a {
  color: #5d79ae;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: 20px auto;
}
.panel{
  text-align: center;
  border: 1px solid rgb(114 189 112);
  margin: 0 auto 12px;
  padding: 4px;
}
.panel tbody{
  box-shadow: inset 1px 1px 7px 0px rgba(114, 189, 112, 0.41);
}
.panel td{
  cursor: pointer;
  padding: 8px;
  border-right: 1px solid rgb(114 189 112);
  border-bottom: 1px solid rgb(114 189 112);
}
#sito{
  box-shadow: 0px 0px 12px 0px #e1e1e1;
  padding: 12px;
}

.table{
	padding: 0px;
	line-height: 20px;
  width: 387px;
  margin: 0 auto;
  border-spacing: 0;
  /*box-shadow: 0px 0px 5px 0px #dedddd;
  outline: 1px solid rgb(139, 195, 74);*/
  outline-offset: 1px;
}
.table:after{
  content: "";
  display: block;
  widows: 100%;
  clear: both;
}
.table li{
  cursor: default;
  outline: 0px solid #fff;
  width: 5px;
  color: #fff;
  display: inline-block;
  height: 1px;
  line-height: 1px;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #72bd70;
  z-index: 10;
  float: left;
  overflow: visible;
}
.table .iron{
  cursor: pointer;
}
.table [class*=app]{
	color: #fff;
	border-color: transparent;
}

.show_iron .iron{
  background-color: #72bd70;
  color: #fff;
}
.show_iron .app{
  background-color: transparent;
  color: transparent;
}
.show_app .iron{
  background-color: transparent;
  color: transparent;
}
.show_app .app{
  background-color: #72bd70;
  color: #fff;
}
/*.hide_num li{
  color: transparent!important;
  outline: 0px solid #fff!important;
}*/

.table li:first-child{
  color: #fff;
  border-color: transparent;
  background: #fff;
}

.example img{
	display: block;
	width: 100%;
}
@media (max-width: 479px){}